<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-floating mb-3">
    <%= form.text_field :title, class: "form-control", id: "floatingTitle", placeholder: "Title" %>
    <%= form.label :title, "Title", for: "floatingTitle" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :author, class: "form-control", id: "floatingAuthor", placeholder: "Author" %>
    <%= form.label :author, "Author", for: "floatingAuthor" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :price, class: "form-control", id: "floatingPrice", placeholder: "Price" %>
    <%= form.label :price, "Price", for: "floatingPrice" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :publisher, class: "form-control", id: "floatingPublisher", placeholder: "Publisher" %>
    <%= form.label :publisher, "Publisher", for: "floatingPublisher" %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-secondary" %>
  </div>
  
<% end %>