
<div class="jumbotron">
  <h1 class="display-4">Title: <%= @book.title %></h1>
  <p class="lead">Author: <%= @book.author %></p>
  <hr class="my-4">
  <p>
    Price: <%= @book.price %><br/>
    Publisher: <%= @book.publisher %>
  </p>
</div>
<%= link_to 'Edit', edit_book_path(@book), class: "btn btn-secondary" %> |
<%= link_to 'Back', books_path, class: "btn btn-secondary" %>